<div class="row">
  <div class="col-md-8">
    <% if @wiki.private? && (@wiki.user == current_user || current_user.admin? || @wiki.collaborators.include?(current_user)) %>
      <% if wiki.collaborators.empty? %>
        <h3>No collaborators yet</h3>
      <% else %>
        <h3>Collaborators</h3>
        <% wiki.collaborators.each do |collaborator| %>
          <%= collaborator.user.username %>
          <%= link_to "Remove Collaborator", [@wiki, collaborator],
          method: :delete, class: "btn btn-danger" %>
        </br>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
