<br><br>
<center>
  <div class="row font">
    <div class="col-md-6 col-md-offset-3">
      <div class="snow-caps-big">about blocipedia</div>
      <br><br>
        <p>Blocipedia is a SaaS wiki collaboration tool.</p>
        <small>built by kimber gee</small>
    </div>
  </div>
<center>
