<br><br>
<center>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="h1caps">about blocipedia</div>
      <br><br>
        <p>Blocipedia is a SaaS wiki collaboration tool.</p>
        <p><em>built by kimber gee</em></p>
    </div>
  </div>
<center>
