<br>
<div class="h1welcome">Blocipedia:</div>
<div class="h4welcome">Social, Markdown Wikis</div>
<br>
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">

    <% unless user_signed_in? %>
    <center>
      <p>Start creating and sharing your own wikis.</p>
      <br><br>
      <p>
        <%= link_to "Sign In", new_user_session_path, :class => 'rq-link' %> or
        <%= link_to "Sign Up", new_user_registration_path, :class => 'rq-link' %>
      </p>
      <br><br>
      <p>or just browse some <%= link_to "wikis", wikis_path, :class => 'wiki-link' %></p>
    </center>
    <% else %>
    <center>
      <p>See recent wikis <%= link_to "here", wikis_path, :class => 'wiki-link' %></p>
    </center>
    <% end %>
  </div>
</div>
