<h1 id="ls-color">Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis:</p>
    <ul>
      <li>Be clear and as concise as possible.</li>
      <li>Maintain scope and avoid redundancy.</li>
      <li>Be sure to credit all sources.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render 'form' %>
  </div>
  <div class="col-md-8">
    <%= render partial: 'collaborators/form', locals: { wiki: @wiki } %>
  </div>
  <div class="">
    <%= render partial: 'collaborators/collaborators', locals: { wiki: @wiki } %>
  </div>
</div>
