<br><br>
<div class="h1welcome">All Wikis</div>

<% if current_user %>
  <center>
    <%= link_to "(or search by users)", users_path, :class => 'light-link' %>
  </center>
  <br><br>
    <%= link_to "New Wiki", new_wiki_path(@wiki), class: 'ghost-button' %>
<% end %>
<br><br>
<% @wikis.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to wiki.title, wiki, :class => 'light-link' %>
        <% if wiki.private? %>
          <small>(private)</small>
        <% end %>
      </h4>
    </div>
  </div>
<% end %>
