<center><h1>All Wikis</h1></center>
  <% if current_user %>
      <center><%= link_to "New Wiki", new_wiki_path(@wiki), class: 'ghost-button' %></center>
  <% end %>
<br><br>

<% @wikis.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to wiki.title, wiki, :class => 'rq-link' %>
      </h4>
    </div>
  </div>
<% end %>
