<br><br>
<div class="h1caps">All Wikis</div>
  <% if current_user %>
    <br><br>
    <%= link_to "New Wiki", new_wiki_path(@wiki), class: 'ghost-button' %>
  <% end %>
<br><br>
<% @wikis.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to wiki.title, wiki, :class => 'rq-link' %>
        <% if wiki.private? %>
          <small>(private)</small>
        <% end %>
      </h4>
    </div>
  </div>
<% end %>
