@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #69BBF2;
  color: #564D80;
  font-family: 'Space Mono', monospace;
}

a:hover {
  color: #FC7753;
  background: none !important;
  border: none !important;
}

.wrap {
  width: 535px;
  word-break: break-all;
  white-space: normal;
}

.nav {
  margin-top: 5px;
  margin-left: -15px;
  border: none;
}

.user-info {
  margin-top: 9px;
}

.h1welcome {
  font-family: 'Space Mono', monospace;
  font-size: 60px;
  font-weight: bold;
  color: #FDFFFC;
  text-align: center;
  text-transform: uppercase;
}

.h4welcome {
  font-family: 'Space Mono', monospace;
  color: #FDFFFC;
  text-align: center;
  text-transform: uppercase;
}

#caps {
  text-transform: uppercase;
}

#light-caps {
  color: #FDFFFC;
  text-transform: uppercase;
}

.light-caps-big {
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #FDFFFC;
}

.light-link {
  color: #FDFFFC;
  text-decoration: none !important;
}

.btn-signup {
  color: #FDFFFC;
  background: #564D80;
  border: 1px solid #564D80;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 6px;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
  min-width: 100px;
}

.btn-signup:hover {
  color: #564D80;
  background: #FDFFFC !important;
  border: 1px solid #FDFFFC !important;
}

.ghost-button {
 color: #564D80;
 background: #69BBF2;
 border: 1px solid #69BBF2;
 font-size: 17px;
 padding: 7px 12px;
 font-weight: normal;
 margin: 6px 0;
 margin-right: 6px;
 display: inline-block;
 text-decoration: none !important;
 text-align: center;
 min-width: 100px;
}

.ghost-button:hover {
 color: #FDFFFC;
 background: #564D80 !important;
 border: 1px solid #564D80 !important;
 text-decoration: none !important;
}

.ghost-button-del {
 color: #FC7753;
 background: #69BBF2;
 border: 1px solid #69BBF2;
 font-size: 17px;
 padding: 7px 12px;
 font-weight: normal;
 margin: 6px 0;
 margin-right: 6px;
 display: inline-block;
 text-decoration: none !important;
 text-align: center;
 min-width: 100px;
}

.ghost-button-del:hover {
 color: #FDFFFC;
 background: #FC7753 !important;
 border: 1px solid #FC7753 !important;
 text-decoration: none !important;
}

.ghost-button-save {
 color: #FDFFFC;
 background: #69BBF2;
 border: 1px solid #69BBF2;
 font-size: 14px;
 font-weight: normal;
 text-decoration: none !important;
 text-align: center;
}

.boxed {
  border: 1px dashed #564D80;
  padding: 10px 10px 10px 10px;
}

.boxed-grey {
  border: 1px dashed #FDFFFC;
  padding: 10px 10px 10px 10px;
  img {
    width: 535px;
  }
}

.boxed-wel {
  height: 350px;
  width: 100%;
  border: 1px dashed #564D80;
  padding: 10px 10px 10px 10px;
}

// font-family: 'Space Mono', monospace;
