@import "bootstrap-sprockets";
@import "bootstrap";

.nav {
  margin-top: 5px;
  margin-left: -15px;
}

.user-info {
  margin-top: 9px;
}

h1 {
  font-family: 'Baloo Thambi', cursive;
  font-size: 60px;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-family: 'Baloo Thambi', cursive;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

#hind {
  font-family: 'Hind', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Hind', sans-serif;
  text-align: center;
  font-size: 40px;
}

.jumbotron {
  border: dashed;
}



// font-family: 'Baloo Thambi', cursive;
// font-family: 'Baloo', cursive;
// font-family: 'BioRhyme', serif;
// font-family: 'Indie Flower', cursive;
// font-family: 'Poiret One', cursive;
// font-family: 'Hind', sans-serif;
