@import "bootstrap-sprockets";
@import "bootstrap";
@import 'base/epiceditor';
// @import 'preview/bartik';
@import 'preview/github';
// @import 'preview/preview-dark';
// @import 'editor/epic-dark';
// @import 'editor/epic-light';

a:hover {
  // color: #7DB4B5;
  color: #EFC050;
}

.wrap {
  width: 535px;
  word-break: break-all;
  white-space: normal;
}

.nav {
  margin-top: 5px;
  margin-left: -15px;
}

.user-info {
  margin-top: 9px;
}

.h1welcome {
  font-family: 'Space Mono', monospace;
  font-size: 60px;
  font-weight: bold;
  color: #C9E4F9;
  text-align: center;
  text-transform: uppercase;
}

.h4welcome {
  font-family: 'Space Mono', monospace;
  color: #b1b2b4;
  text-align: center;
  text-transform: uppercase;
}

#snow-caps {
  color: #C9E4F9;
  text-transform: uppercase;
}

#gold-caps {
  color: #EFC050;
  text-transform: uppercase;
}

.snow-caps-big {
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #C9E4F9;
}

.gold-link {
  color: #EFC050;
}

.grey-link {
  color: #b1b2b4;
  text-decoration: none !important;
}

#p-left {
  text-align: left;
}

.ghost-button {
 color: #C9E4F9;
 background: #fff;
 border: 1px solid #C9E4F9;
 font-size: 17px;
 padding: 7px 12px;
 font-weight: normal;
 margin: 6px 0;
 margin-right: 6px;
 display: inline-block;
 text-decoration: none !important;
 text-align: center;
 min-width: 100px;
}

.ghost-button-del {
 color: #EFC050;
 background: #fff;
 border: 1px solid #EFC050;
 font-size: 17px;
 padding: 7px 12px;
 font-weight: normal;
 margin: 6px 0;
 margin-right: 6px;
 display: inline-block;
 text-decoration: none;
 text-align: center;
 min-width: 100px;
}

.ghost-button-down {
 color: #9B8F9E;
 background: #fff;
 border: none;
 font-size: 14px;
 font-weight: normal;
 text-decoration: none;
 text-align: center;

}

.ghost-button-save {
 color: #C9E4F9;
 background: #fff;
 border: none;
 font-size: 14px;
 font-weight: normal;
 text-decoration: none;
 text-align: center;

}

.boxed {
  // border: 1px dashed #45B8AC;
  border: 1px dashed #EFC050;
  padding: 10px 10px 10px 10px;
}

.boxed-grey {
  border: 1px dashed #d8d8da;
  padding: 10px 10px 10px 10px;
  img {
    width: 535px;
  }
}

.boxed-wel {
  height: 400px;
  width: 100%;
  border: 1px dashed #EFC050;
  padding: 10px 10px 10px 10px;
}

.font {
  font-family: 'Space Mono', monospace;
}


// font-family: 'Space Mono', monospace;
// font-family: 'Cormorant Unicase', serif;
// font-family: 'Bungee Hairline', cursive;
// font-family: 'Righteous', cursive;
